<div class="card">
  <div class="card-body">
    <!-- FORM TO ADD TASKS -->
    <form (submit)="addTask(newTitle, newDescription ,newApellido,newEmail,newCelular,newFecha,newHora)">
      <div class="form-group">
        <input type="text" placeholder="Nombres" #newTitle class="form-control" required>
      </div>


      <div class="form-group">
        <input type="text" placeholder="Apellidos" #newApellido class="form-control" required>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Email" #newEmail class="form-control" required>
      </div>
      <div class="form-group">
        <input type="text" placeholder="celular" #newCelular class="form-control" required>
      </div>
      <div class="form-group">
        <input type="date" placeholder="fecha" #newFecha class="form-control" required>
      </div>
      <div class="form-group">
        <input type="date" placeholder="Hora" #newHora class="form-control" required>
      </div>


      <div class="form-group">
        <textarea #newDescription cols="30" rows="10" class="form-control" placeholder="Descripcion" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    </form>
  </div>
</div>